<div class="container">
    <h1>su di me.</h1>
    <hr>
</div>

<div class="about container d-flex justify-content-between align-items-center equal-height">

  <div class="about-text">

    <p>
        Ciao! Mi chiamo <strong>Soltanel Carmen-Elena</strong> e sono una sviluppatrice <strong>frontend</strong> in formazione, appassionata di tecnologia, creatività e crescita personale. Dopo una lunga e gratificante esperienza nel settore della ristorazione e del commercio, ho deciso di dare una svolta al mio percorso professionale esplorando un ambito nuovo e stimolante come lo sviluppo web, in cui ho trovato un forte interesse e motivazione: lo sviluppo web.

        Negli ultimi mesi ho dedicato con entusiasmo energie e impegno alla mia formazione tecnica, frequentando diversi corsi professionali su <strong>HTML, CSS, JavaScript, TypeScript, Bootstrap e WordPress</strong>, e specializzandomi nel <strong>framework Angular</strong>, sia a livello base che avanzato. Grazie a queste esperienze ho acquisito solide competenze nello sviluppo di interfacce utente moderne, reattive e accessibili, con particolare attenzione all’organizzazione del codice, alla gestione delle API RESTful e all’uso di strumenti come RxJS per la programmazione reattiva.
        
        Ho inoltre avuto modo di mettere in pratica le mie conoscenze attraverso una breve esperienza come sviluppatrice frontend presso Archimede SPA, dove ho contribuito alla creazione di gestionali per la rilevazione delle presenze e di un’applicazione per la gestione di un menù pizzeria. È stata un’occasione preziosa per lavorare su progetti concreti e confrontarmi con un ambiente professionale stimolante.
        
        Parallelamente, continuo a coltivare la mia curiosità attraverso progetti personali, che pubblico sul mio <strong>GitHub</strong>, e a condividere il mio percorso su LinkedIn.
    </p>
    <p>
        <strong>Oltre il codice.</strong> Sono una persona solare, determinata e curiosa, con una spiccata attitudine al problem solving e al lavoro di squadra. Amo imparare cose nuove e mettermi alla prova, soprattutto quando si tratta di un progetto che mi entusiasma davvero.

        Fuori dal contesto lavorativo, amo stare all’aria aperta, andare al mare, giocare a badminton, e uscire con i miei pattini a rotelle. Sono anche una grande amante degli animali e condivido la mia quotidianità con il mio fedele cagnolino.
    </p>

    <p>
        Hai una proposta, una curiosità o solo voglia di fare due chiacchiere sul mondo del frontend? <em>Scrivimi</em>, mi farebbe davvero piacere!
    </p>

    <p>
        Qui trovi anche il mio <strong>CV</strong> aggiornato se vuoi saperne di più sul mio percorso → <a href="/docs/CV Soltanel Carmen.pdf" target="_blank"><em>CURRICULUM VITAE</em></a>
    </p>

  </div>

  <div class="about-image">
    <img src="/images/about me.png" alt="">
  </div>

</div>


