
<!-- NAVBAR FISSA INVISIBILE (NON SI VEDONO BORDI) -->

<nav class="navbar">
  <div class="d-flex align-items-center p-1">
    <a routerLink="homepage" class="d-inline-block">
      <img src="/images/logo4.png" alt="logo" class="logo" />
    </a>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    
    <div>
      <img src="/images/icona tema.png" alt="icona" class="icona" (click)="toggleTheme()"/>
    </div>

    <div>
      <!-- bottone menu -->
      <button (click)="toggleMenu()" class="menu-button">

        <ng-container *ngIf="!menuAperto; else closeIcon">
          <div class="dots-grid">
            <div class="dot" *ngFor="let dot of dots"></div>
          </div>
        </ng-container>

        <ng-template #closeIcon>
          <div class="close-icon">X</div>
          <!-- simbolo X x chiudere il menu -->
        </ng-template>

      </button>

      <!-- menu che si apre con binding delle classi: aggiungo la classe show solo se menuAperto è true -->
      <div [class.show]="menuAperto" class="menu-overlay">
        <app-menu (menuClosed)="closeMenu()"></app-menu>
      </div>

    </div>
  </div>
</nav>

<router-outlet />
